{% extends "blog/base.html" %}

{% block title %}
Регистрация
{% endblock title %}


{% block content %}
    <h2>Регистрация</h2>
    {% if form.errors %}
        <div class="container d-flex align-items-center justify-content-center">
            <div class="alert alert-warning alert-dismissible fade show w-50  d-block" role="alert">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        Имя пользователя: {{ form.username }}
        Электронная почта:{{ form.email }}
        Имя:{{ form.first_name }}
        Фамилия: {{ form.last_name }}
        Пароль: {{ form.password1 }}
        {{ form.errors.password }}
        Подтверждение пароля: {{ form.password2 }}
        <button type="submit" class="btn btn-primary btn-lg">Регистрация</button>
    </form>
    <a href="/accounts/login/">У вас есть учетная запись? Перейдите для входа</a>
{% endblock %}